/* ELEMENTI GENERALI  */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Cabin', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* ELEMENTI GENERICI */

.bgcolorArancione{background-color: #ff6900;}
.bgcolorVerde{background-color: #008000;}
.bgcolorRosso{background-color: #ff0000;}
.bgcolorNero{background-color: #1a1a1a;}

.longBanner{
    width: 120rem;
    height: 5rem;
    position: fixed;
    z-index: 1000;
}

header{top: 0;}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

/* ELEMENTI HEADER */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 75rem;
    margin: 0 auto;
    color: #fff;
}

.navbar a{
    margin: 0 10px;
}

.logoimg{
    height: 1.875rem;
}

.col2{
    padding-right:15%;
}

/* ELEMENTI MAIN  */

main{
    height: 96.8125rem;
    margin-top: 7.8125rem
}

.container{
    width: 75rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.col{
    width: calc(100%/3);
    height: 46.25rem;
}

.box{
    padding: .625rem;
    width: 90%;
    height:32.5rem;
    position: relative;  
}

.box img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}

img:last-child{
    opacity: 0;
    visibility: hidden;
}

.box:hover img:first-child{
    opacity: 0;
    visibility: hidden;
}

.box:hover img:last-child{
    opacity: 1;
    visibility: visible;
}

.priceLined{
    text-decoration: line-through;
}

.titlePrice{
    font-size: 1.25rem;
    font-weight: 600;
}

.pricered{
    color: red;
}

/* ELEMENTI FOOTER */

footer{bottom: 0;}

.banner {
    width: 75rem;
    margin: 0 auto;
    display: flex;
    color: white;
}
  
.colonna {
    width: 50%;
    line-height: 2;
}

.colonnaDestra {
    text-align: right;
}

.littleTitle{
    font-size: 1.25rem;
    font-weight: 300;
}
